.bg {
  background: url(../resources/bg.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  position: fixed;
  min-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  z-index: -1;
}
