@import '../index.module.scss';
$padding-side: 7vw;

.content {
  position: relative;
  background-color: $white;
  width: 100vw - 2 * $padding-side;
  height: 100vh;
  padding: 5vh $padding-side 5vh;
}
