.navbar,
.fixedNavbar {
  position: absolute;
  background-color: rgb(245, 245, 245);
  left: auto;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px 0 10px 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixedNavbar {
  position: fixed;
  top: 0;
  box-shadow: 0 7px 10px -10px rgb(40, 40, 40);
  transition: box-shadow 0.1s ease-in-out;
}

li {
  padding-top: 1em;
  margin: 0 1.5em;
  list-style-type: none;
}

@import url('https://fonts.googleapis.com/css?family=Catamaran|Raleway:700&display=swap');
li a {
  color: rgb(40, 40, 40);
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}

.li a::after {
  display: block;
  border-bottom: 0.2em solid rgba(124, 142, 215, 0.6);
  content: '';
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
}

.li a:hover {
  color: rgb(124, 142, 215);
}

.li a:hover::after {
  transform: scaleX(1);
}

.logo {
  font-family: 'Space Mono', 'sans serif';
  font-size: 1em;
}
