@import '../index.module.scss';

.navbar {
  position: fixed;
  left: auto;
  width: 100vw;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
  background-color: $white;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  box-shadow: 0 7px 10px -10px $black;
}
ul {
  padding: 0;
}

li {
  margin: 0 1.5em;
  list-style-type: none;
}

@import url('https://fonts.googleapis.com/css?family=Catamaran|Raleway:700&display=swap');
li a {
  color: $black;
  font-family: 'Catamaran', sans-serif;
  font-size: 22px;
  text-decoration: none;
}

.menu a {
  letter-spacing: 1px;
  transition: color 0.1s ease-in-out;
  -webkit-transition: color 0.1s ease-in-out;

  &::after {
    display: block;
    border-bottom: 0.2em solid $orange;
    content: '';
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
  }

  &:hover {
    color: $orange;
    &::after {
      transform: scaleX(1);
    }
  }
}

@import url('https://fonts.googleapis.com/css?family=Space+Mono:700&display=swap');
.logo a {
  font-family: 'Space Mono', 'sans serif';
  font-size: 1.5em;
  letter-spacing: -0.5px;
  color: $black;
}
