@import '../index.module.scss';

.wrapper {
  width: 100vw;
  height: 70vh;
  position: relative;
}

.text {
  background: transparent;
  position: absolute;
  color: $white;
  opacity: 0.9;
  margin: 7%;
  width: 580px;
  height: 250px;
  border-top: 4px solid $white;
  border-bottom: 4px solid $white;
  bottom: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 54px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
