$black: rgb(40, 40, 40);
$white: rgb(245, 245, 245);
$blue: rgb(66, 135, 245);
$orange: rgb(255, 165, 0);

html {
  height: 100%;
  background-color: transparent;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
